<%= turbo_stream_from "messages_channel" %>

<div class="mt-auto">
  <div class="flex flex-col gap-4 mb-12">
    <div id="messages" class="flex flex-col gap-4 overflow-auto">
      <% if @dashboard[:messages].present? %>
        <%= render @dashboard[:messages] %>
      <% else %>
        <p>No messages to display.</p>
      <% end %>
    </div>
  </div>
</div>



