<div class="mt-auto">
  <div class="flex flex-col gap-4 mb-12">
    <div id="messages" class="flex flex-col gap-4 overflow-auto">
      <% @dashboard[:messages].each do |message| %>
        <%= render partial: "messages/message", locals: { message: message } %>
      <% end %>
    </div>
  </div>
</div>



